body {
  background-color: #6969D6;
}

.containerr {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

img {
  width: 50%;
  height: 45%;
  margin-top: 20px;
}

#renderCanvas {
  position: absolute;
  top: 30%;
  left: 50%; 
   
  padding: 5px;
  background-color: white;
  border: 2px solid red;
}

.title {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
}